/* header.css */
.main-container {
  display: flex;
  align-items: center;
  background-color: inherit;
  padding: 10px;
}

.pricing {
  color: red; /* You can change this to any color you prefer */
  cursor: pointer;
}

.logo {
  cursor: pointer;
  height: 80px;
  width: 250px; /* Set the initial width for the logo */
  background: lightgray 50% / cover no-repeat;
mix-blend-mode: multiply;
}

.header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin: auto;
  font-size: 35px;
}

/* Add media query for phones */
@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
    padding: 15px;
  }



  .logo {
    height: 80;
    width: 160px; /* Adjust the logo size for smaller screens */
    margin-bottom: 10px;
    background: url(./logo.png), lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
  }

  .header-container {
    flex-direction: column;
    gap: 5px;
    color: white;
  }
}
