.main-container {
  display: grid;
  grid-template-rows: 90px ;
  grid-template-columns: 300px 1200px;
}

.logo {
  width: 300px;
  height: 90px;
  background: url(../../../public/images/logo.png),
    lightgray 50% / cover no-repeat;
  mix-blend-mode: multiply;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: top;
  margin: 0;
  gap: 51px;
  color: #000;
  font-family: Inter;
  font-size: 39.92px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
}

h3 {
  margin-right: 10px;
}

.pricing{
    color: #F41C1C;
font-family: Inter;
font-size: 55.92px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
